<mat-card>
  <app-name-page
    [page]="page"
    [type]="type"
    [isHiddenInformation]="isHiddenInformation"
    [isAddHidden]="true"
    [isEditHidden]="true"
    [isDeleteHidden]="true"
    (onType)="onType($event)"
    (onEdit)="onEdit()"
    (onDelete)="onDelete()"
    (onAdd)="onAdd()"
  ></app-name-page>
  <div
    *ngIf="typeMode === 'add'"
    class="flex flex-row justify-between items-center gap-4"
  >
    <app-card
      class="w-4/12"
      *ngFor="let card of cards"
      [card]="card"
      (cardClicked)="onCardClick(card)"
    ></app-card>
  </div>
  <mat-card
    *ngIf="typeMode === 'add'"
    class="flex flex-col items-center self-center m-2 w-10/12"
  >
    <form class="pr-5 pl-5 w-full" [formGroup]="form">
      <app-input
        *ngFor="let config of configs"
        [config]="config"
        [formGroup]="form"
      ></app-input>
      <div class="w-full flex flex-col mb-2 items-center">
        <button
          mat-button
          (click)="onSaveNewInstance()"
          class="flex w-3/12 justify-self-center justify-center bg-gray-900 text-white py-3 rounded-lg hover:bg-gray-700 focus:outline-none"
        >
          Save {{ page.content }}
        </button>
      </div>
    </form>
  </mat-card>
  <app-generate-table
    *ngIf="typeMode === 'edit' || typeMode === 'delete'"
    [keys]="keys"
    [type]="type"
  ></app-generate-table>
</mat-card>
