<div class="overflow-auto rounded-xl border border-blue-100 bg-white">
  <table
    mat-table
    [dataSource]="dataSource"
    class="min-w-full mat-elevation-z8"
    matSort
  >
    <ng-container *ngFor="let col of columns" [matColumnDef]="col.code">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="bg-blue-100 font-semibold pt-2"
      >
        <div class="flex flex-col h-[80px]">
          <div [mat-sort-header]="col.code" class="text-base">
            {{ col.label }}
          </div>
          <div>
            <app-input
              [config]="col.config!"
              [formGroup]="form!"
              [isTable]="isTable!"
              (selectChange)="onSelectChange($event)"
            ></app-input>
          </div>
          <!-- <div>
            <button
              mat-raised-button
              [color]="'primary'"
              (click)="activateFilters()"
              class="mr-1"
            >
              <mat-icon>search</mat-icon>
              Search
            </button>
          </div> -->
        </div>
      </th>

      <td mat-cell *matCellDef="let row" class="flex-space-between">
        <ng-container *ngIf="col.type !== 'button'">
          <span class="hidden-for-sort">{{
            getNestedValue(row, col.key)
          }}</span>
        </ng-container>

        <ng-container [ngSwitch]="col.type">
          <span *ngSwitchCase="'text'">
            {{ getNestedValue(row, col.key) }}</span
          >
          <a
            *ngSwitchCase="'link'"
            class="link-like"
            (click)="onGoToLink(row, col.link?.url, col.link?.code)"
          >
            {{ getNestedValue(row, col.key) }}
          </a>
          <ng-container *ngSwitchCase="'button'">
            <ng-container *ngFor="let btn of col.buttons">
              <button
                mat-raised-button
                [color]="btn.buttonColor || 'primary'"
                (click)="btn.onClick?.(row)"
                class="mr-1"
              >
                <mat-icon>{{ btn.icon }}</mat-icon>
                {{ btn.buttonText }}
              </button>
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-container [ngSwitch]="col.pipe">
          <span
            *ngSwitchCase="'date'"
            [ngClass]="col.isActive ? (row[col.key] | isNearEndDate) : ''"
          >
            {{ row[col.key] | date : "dd MMM yyyy" }}
          </span>
        </ng-container>
        <ng-container *ngIf="col.passed">
          <span *ngIf="getNestedValue(row, col.key)" class="text-green-500"
            >Passed</span
          >
          <span *ngIf="!getNestedValue(row, col.key)" class="text-red-500"
            >Failed</span
          >
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnKeys"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumnKeys"
      (dblclick)="enableDblClickForRow && onRowDoubleClick(row)"
      [class.dblclick-enabled]="enableDblClickForRow"
    ></tr>
  </table>
</div>

<div style="display: flex; align-items: center; justify-content: space-between">
  <button
    mat-raised-button
    color="primary"
    (click)="export()"
    class="!absolute m-10 mt-16 flex items-center space-x-2 rounded-lg"
  >
    Export excel
  </button>
  <mat-paginator
    style="width: -webkit-fill-available"
    [length]="count"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    class="rounded-lg border border-blue-100"
  >
  </mat-paginator>
</div>
