<div class="flex flex-row justify-between">
  <div class="text-2xl font-bold mb-6 text-blue-700 flex items-center gap-2">
    <mat-icon color="primary">{{ page.icon }}</mat-icon>
    {{ page.name }}
    <div *ngFor="let item of page.content">
      <span class="text-blue-600 font-semibold mx-1">→</span> {{ item }}
    </div>
  </div>
  <div class="flex flex-row gap-4">
    <div *ngIf="isHiddenInformation">
      <button id="view" class="button-page" (click)="onChangeVisibility()">
        <mat-icon class="text-lg">{{
          type ? ICONS.VISIBILITY : ICONS.VISIBILITY_OFF
        }}</mat-icon>
        <span>View</span>
      </button>
    </div>

    <div *ngIf="isEditHidden">
      <button id="edit" class="button-page" (click)="onEditEvent()">
        <mat-icon class="text-lg">{{ ICONS.EDIT }}</mat-icon>
        <span>Edit</span>
      </button>
    </div>

    <div *ngIf="isDeleteHidden">
      <button id="delete" class="button-page" (click)="onDeleteEvent()">
        <mat-icon class="text-lg">{{ ICONS.REMOVE }}</mat-icon>
        <span>Delete</span>
      </button>
    </div>

    <div *ngIf="isAddHidden">
      <button id="save" class="button-page" (click)="onAddEvent()">
        <mat-icon class="text-lg">{{ ICONS.ADD }}</mat-icon>
        <span>Create</span>
      </button>
    </div>

    <div *ngIf="isBackHidden">
      <button id="back" class="button-page" (click)="onBackEvent()">
        <mat-icon class="text-lg">{{ ICONS.BACK }}</mat-icon>
        <span>Back</span>
      </button>
    </div>
  </div>
</div>
