<mat-card class="flex gap-2">
  <app-name-page
    [page]="page"
    [type]="type"
    [isHiddenInformation]="isHiddenInformation"
    (onType)="onType($event)"
  ></app-name-page>
  <app-com-information
    [information]="information"
    [data]="data"
    [config]="config"
    [form]="form"
    (selectChange)="onSelectChange($event)"
  ></app-com-information>
  <app-generate-table
    *ngIf="keys"
    [keys]="keys"
    [type]="type"
    [isHiddenCards]="isHiddenCards"
  ></app-generate-table>
</mat-card>
