<div
  [ngClass]="
    !isTable && !isPage
      ? 'flex flex-row items-center justify-self-center w-8/12 justify-between'
      : ''
  "
  [formGroup]="formGroup"
  *ngIf="config"
>
  <label
    *ngIf="config.label"
    class="block text-lg font-semibold text-gray-700 mb-2"
    [ngClass]="{ 'flex items-center': config.icon && !isTable && !isPage }"
  >
    <mat-icon *ngIf="config.icon && !isTable && !isPage" class="mr-2">{{
      config.icon
    }}</mat-icon>
    {{ config.label }}
  </label>
  <div
    [ngClass]="{
      'flex flex-col items-center not-table': !isTable && !isPage,
      'border-red-300':
        formGroup.get(config.formControlName)?.hasError('required') &&
        formGroup.get(config.formControlName)?.touched &&
        !isTable,
      'border-gray-300':
        (!formGroup.get(config.formControlName)?.hasError('required') ||
          !formGroup.get(config.formControlName)?.touched) &&
        !isTable
    }"
  >
    <select
      *ngIf="config.type === 'select'; else textInput"
      [formControlName]="config.formControlName"
      class="p-2 ml-2 text-gray-700 focus:outline-none"
      [ngClass]="{ 'not-table': !isTable }"
      (change)="onSelectChange($event)"
    >
      <option *ngFor="let option of config.options" [ngValue]="option">
        {{ getValuesByPaths(option, config.labelKey!) }}
      </option>
    </select>
    <ng-template #textInput>
      <input
        [type]="config.type"
        [formControlName]="config.formControlName"
        class="w-full p-2 ml-2 text-gray-700 focus:outline-none"
        [ngClass]="{ 'not-table': !isTable }"
        [placeholder]="config.placeholder"
        (change)="config.type === 'date' ? onSelectChange($event) : null"
        (keyup.enter)="onSelectChange($event)"
      />
    </ng-template>
  </div>
</div>
