<nav class="navbar bg-custom-dark px-8 py-4 shadow-md flex items-center">
  <div class="logo-name mr-10">
    <a
      [routerLink]="feet.route"
      class="text-2xl font-bold text-white flex items-center gap-2 hover:text-blue-400 transition"
    >
      <mat-icon class="text-blue-400">dashboard</mat-icon>
      CarFactory
    </a>
  </div>
  <ul class="flex gap-8 items-center flex-1">
    <li
      *ngFor="let nav of routes"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="text-white hover:text-blue-400 transition font-medium px-2 py-1 rounded cursor-pointer"
    >
      <a [routerLink]="nav.route" class="flex items-center gap-2">
        <mat-icon>{{ nav.icon }}</mat-icon
        >{{ nav.name }}
      </a>
    </li>

    <li class="flex items-center flex-0" *ngIf="_roleLogically.onIsAdmin()">
      <button
        mat-button
        class="flex items-center gap-2 text-white hover:text-blue-400 transition"
        (click)="onAddPage()"
      >
        <mat-icon>{{ ICONS.MANAGEMENT }}</mat-icon>
        <label>Management</label>
      </button>
    </li>

    <li
      class="flex items-center flex-0"
      *ngIf="_roleLogically.onIsAdminOrManager()"
    >
      <button
        mat-button
        class="flex items-center gap-2 text-white hover:text-blue-400 transition"
        (click)="onOpenSearchDialog()"
      >
        <mat-icon>{{ ICONS.SEARCH }}</mat-icon>
        <label>Search</label>
      </button>
    </li>

    <li class="flex items-center justify-center ml-auto">
      <button
        mat-button
        class="flex items-center gap-2 text-white hover:text-blue-400 transition"
        (click)="onViewUser()"
      >
        <mat-icon>{{ ICONS.EMPLOYEE }}</mat-icon>
        <span class="font-semibold">{{ name }}</span>
      </button>
    </li>

    <li
      class="flex items-center justify-center cursor-pointer text-white hover:text-red-400 transition font-medium px-2 py-1 rounded"
      (click)="onLogout()"
    >
      <i class="fas fa-sign-out-alt"></i> Logout
    </li>
  </ul>
</nav>
